.offer-card-body {
  height: 300px;
  width:80%;
  max-width: 400px;
  min-width: 290px;
  border: 1px solid rgb(172, 172, 172);
}
.desc-body{
    height: 100%;
    width: 100%;
  transition: 0.2s ease-in-out;
}
.offer-card-body p {
  height: 60%;
  display: none;
  font-size: 1.2rem;
}
.offer-card-body h2 {
  height: 15%;
  font-weight: 600;
  display: none;
  font-size: 1.5rem;
}
.offer-card-body:hover {
  #offerCard-para,
  #offerCard-heading {
    display: block;
  }
}
.offer-card-body:hover .desc-body{
    background-color: rgba(0, 0, 0, 0.742);
}

