.upload-body{
    height: 91vh;
}
.upload-block{
    height: 80%;
    width: 100%;
    min-width: 280px;
    max-width: 700px;
}
.upload-left,.upload-right{
    width: 50%;
    height: 300px;
    max-width: 500px;
}
.upload-left img{
    filter: drop-shadow(5px 5px 15px white);
}
.upload-btn{
    /* background-color: yellow; */
    width: 80%;
    height: 40px;
    max-width: 700px;
    /* border-radius: 10px; */
}
.upload-right{
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    list-style: none;
    padding: 5px;
      border: 2px solid #145374 ;
   
}
.upload-right::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width:650px){
    .upload-block{
        flex-direction: column;
    }
    .upload-left{
        width: 100%;
    }
    .upload-right{
        width: 100%;
    }
    .upload-block{
        gap: 10px;
    }
}
.list-body{
min-height: 70px;
width: 100%;
}
.list-body img{
border-radius: 50%;
}
.list-body p{
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}