.upload-body{
    background-color: #D9D9D9;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.upload-block{
    background-color: #D9D9D9;
    height: 80%;
    width: 100%;
    min-width: 280px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 5px 0px 5px;
}
.upload-left,.upload-right{
    width: 50%;
    height: 300px;
    max-width: 500px;
    /* border: 3px solid #145374 ; */

}
.upload-left{
    display: grid;
    place-content: center;
    background-color: #145374;
    color: white;
}
.upload-left img{
    width: 200px;
    height: 200px;
    filter: drop-shadow(5px 5px 15px white);
}
.upload-btn{
    background-color: yellow;
    width: 80%;
    height: 40px;
    max-width: 700px;
    border-radius: 10px;
}
.upload-right{
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    list-style: none;
    padding: 5px;
      border: 2px solid #145374 ;
   
}
.upload-right::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width:650px){
    .upload-block{
        flex-direction: column;
    }
    .upload-left{
        width: 100%;
    }
    .upload-right{
        width: 100%;
    }
    .upload-block{
        gap: 10px;
    }
}


.list-body{
background-color: #76ABAE;
height: 80px;
min-height: 70px;
width: 100%;
display: flex;
align-items: center;
padding-left: 5px;
gap: 10px;

}
.list-body img{
    background-color: white;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-size: contain;
}
.list-body p{
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}