
.landing-body{
    height: 91vh;
    background-image: url('./homeAssets/home-banner-2.png');
    filter: contrast(110%);
}
.landing-block{
    width: 90%;
    height: 50%;
}
.landing-block h1{
    font-size: 4rem;
    font-weight: 600;
    filter: drop-shadow(10px 10px 10px black);
}
.get-started-body{
    min-height: 500px;
    background-color: #EEEBDD;
}
.get-started-body h2{
    font-size: 2rem;
    font-weight: 600;
    background-color: #145374;
    width: 70%;
    min-width: 300px;
}
.get-started-block{
    width: 95%;
    max-width: 1000px;
    height: 95%;

}
.get-started-block img{
    width: 50%;
    max-width: 700px;
}
.get-started-desc{
    background-color:#76ABAE;
}
.get-started-desc h1{
    font-size: 2rem;
    filter: drop-shadow(2px 2px 5px #145374);
}

.whatWeOffer-body{
    background-color: #C8C8C8;
}
.whatWeOffer-body h1{
    font-size: 2rem;
    font-weight: 600;
    background-color: #145374;
    width:70%;
    max-width: 600px;
}
.whatWeOffer-block{
    height: 85%;
    width: 80%;
}
.review-body{
    height: 500px;
    background-color: #EEEBDD;
}
.review-body h2{
    font-size: 2rem;
   width: 70%;
   background-color: #145374;
}
.review-block{
    height: 65%;
    width: 95%;
    max-width: 900px;
    overflow-x: scroll;   
}
.review-block::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width:480px){

    .landing-block h1{
        font-size: 2.3rem;
    }
    .get-started-body{
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .get-started-block{
        flex-direction: column;
        height: auto;
    }
    .get-started-block img{
        width: 100%;
    }
    .get-started-body h2{
        font-size: 1.5rem;
        width: 80%;
    }
    .get-started-desc {
       gap: 10px;
    }
    .get-started-block h1{
        font-size: 1.2rem;
    }
    .get-started-block p{
        font-size: 0.9rem;
    }
    .whatWeOffer-body h1{
        font-size: 1.5rem;
        width: 80%;
    }
    .review-body h2{
        font-size: 1.5rem;
        width: 90%;
    }
}

@media (min-width:481px) and (max-width:650px) {

    .get-started-body{
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .get-started-block{
        flex-direction: column;
        height: auto;
    }
    .get-started-block img{
        width: 100%;
    }
    .get-started-desc{
        height: 400px;
    }
}