.gallery-body{
height: 91vh;
/* min-height: 80px; */
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(167, 167, 167);
}
.gallery-block{
    width: 95%;
    background-color: transparent;
    height: 95%;
    position: relative;
}
.gallery-nav{
    background-color:#00334E;
    color: white;
    width: 60px;
    height: 90%;
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;justify-content: space-evenly;
    align-items: center;
}
.gallery-nav svg{
height: 30px;
width: 30px;
}

.allPhoto-body{
    height: 100%;
}
.photo-item{
    height:40%;
    width:50%;
    max-width: 300px;
    max-height: 280px;
    min-width: 290px;
    min-height: 100px;
    filter: drop-shadow(6px 6px 5px black);
    border: 1px solid white;
}
.photo-item:hover{
    filter: drop-shadow(1px 1px 5px black);
}
.allPhoto-body::-webkit-scrollbar{
    display: none;
}
.allPhoto-body img{
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    filter:brightness(70%);
}
.fav-icon{

    width: 60px;
    height: 35px;
    border-top-right-radius: 15px;
}
.fav-icon:hover > svg{
    transform: scale(1.15   );
}
.fav-icon  svg{
    width: 80%;
    height: 80%;
    transition: 0.1s ease-in-out;
}
.delete-icon{
    width: 60px;
    height: 35px;
    border-top-left-radius: 15px;
    border: 1px solid white;
}

.delete-icon:hover > svg{
    transform: scale(1.15);
}
.delete-icon  svg{
    position: absolute;
    left: 0px;
    width: 90%;
    height: 90%;
}

@media screen and (max-width:480px){

    .allPhoto-body{
        gap: 10px;
    }
    .photo-item{
        height:25%;
    width:45%;
    max-width: 300px;
    /* max-height: 280px; */
    min-width: 100px;
    min-height: 60px;
    overflow: hidden;
    filter: none;
    }
 
    .fav-icon, .delete-icon{
        width: 35px;
        height: 25px;
    }
}