.gallery-body{
height: 92vh;
background-color:aqua;
display: flex;
justify-content: center;
align-items: center;
}
.gallery-block{
    width: 90%;
    background-color: white;
    height: 95%;
    position: relative;
}
.gallery-nav{
    background-color:#00334E;
    color: white;
    width: 60px;
    height: 90%;
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;justify-content: space-evenly;
    align-items: center;
}
.gallery-nav svg{
height: 30px;
width: 30px;
}